
.env
old_code/__pycache__/bot.cpython-311.pyc
old_code/bot.py
old_code/movieTVCheck.py
old_code/tui.py
apiBackEnd.py
filters/movies.txt
filters/stars.txt
filters/stars.json
filters/trustedUploaders.txt
filters/trustedUploaders.json
pyvenv.cfg
*.pyc
__pycache__/torrent_lister.cpython-311.pyc
